*{
padding: 0px;
margin: 0px;

background-color: #292727;
color: #bfbbbb;
}
.stopwatch {
    position: absolute;
    width: 438px;
    height: 510px;

    border: 2px solid gray;
    border-radius: 2px;
}
.stopwatch__btn{
    float: left;
    width: 85px;
    height: 25px; 
    margin: 10px;

    border: 2px solid gray;
    border-radius: 4px;
    text-align: center;
    line-height: 25px;
}
.stopwatch__btn:hover {
    cursor: pointer;
    border-radius: 6px;
    color: #3b3838;
    background-color: #858181;
}
.stopwatch__btn:focus {
    outline: none;
    border-radius: 6px;
    color: #3b3838;
    background-color: #858181;
}
.stopwatch__btn:active {
    transform: translateY(1px);
}
.stopwatch__btnCenter{
    position: absolute;
    left: 410px;
    top:-12px;
    width: 16px;
    height: 16px;

    line-height: 16px;
}
.stopwatch_centerPosition{    
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stopwatch__counterDisplay {
    width: 412px;
    height: 60px;

    margin-left: 10px;
    margin-top: 30px;

    border: 2px solid gray;
    border-radius: 2px;
    text-align: center;
    line-height: 60px;

    cursor: default;
    font-size: 42px;
}
.stopwatch__textContainer {
    width: 402px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 2px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 5px;
    cursor: default;
    display:inline-block;
    max-width:402px;
    max-height: 300px;
    overflow-y: scroll;
}
.stopwatch__textContainer__string {
    margin: 8px;
    text-align: center;
}
.stopwatch__textContainer__LapElements{
margin-left: 20px;
}
.stopwatch__textContainer__LapElements_numLap {
    margin-left: 10px;
    display: inline-block;
    width: 20px;
}
.stopwatch__btn_clear {
    width: 412px;
    height: 25px;
}